{# templates/receipt.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Чеки{% endblock %}

{% block body %}
    <h1>Список чеков</h1>
    <table>
        <thead>
        <tr><td><a href="{{ path('home') }}">Назад</a></td></tr>
        <tr>
            <th>Номер</th>
            <th>Дата</th>
            <th>Магазин</th>
            <th>Гость</th>
            <th>Автор</th>
            <th>-</th>
            <th>-</th>
        </tr>
        </thead>
        <tbody>
        {% for receipt in receipts %}
            <tr>
                <td>{{ receipt.id }}</td>
                <td>{{ receipt.date|date('Y-m-d H:i:s') }}</td>
                <td>{{ receipt.store }}</td>
                <td>
                    {% if receipt.guest %}
                        {{ receipt.guest.name }}
                    {% endif %}
                </td>
                <td>
                    {% if receipt.author %}
                        {{ receipt.author.username }}
                    {% endif %}
                </td>
                <td><a href="{{ path('edit_receipt', {'id': receipt.id}) }}">Редактировать</a></td>
                <td><a href="{{ path('delete_receipt', {'id': receipt.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить этот чек?')">Удалить</a></td>
            </tr>
        {% endfor %}
        <tr><td><a href="{{ path('new_receipt') }}">Добавить</a></td></tr>
        </tbody>
    </table>
{% endblock %}
