{# templates/product/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {{ form_start(form) }}
    <table>
        <tr><td><a href="{{ path('guest_list') }}">Назад</a></td></tr>
        <tr><td>{{ form_row(form.name) }}</td></tr>
        <tr><td>{{ form_row(form.phoneNumber) }}</td></tr>
        <tr><td><button type="submit">Сохранить</button></td></tr>
    </table>
    {{ form_end(form) }}
{% endblock %}
