{% extends 'base.html.twig' %}

{% block title %}Гости{% endblock %}

{% block body %}
    <h1>Список гостей</h1>

    <table class="table">
        <thead>
        <tr><td><a href="{{ path('home') }}">Назад</a></td></tr>
            <tr>
                <th>Номер</th>
                <th>Имя</th>
                <th>Телефон</th>
                <th>Автор</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guest in guests %}
            <tr>
                <td>{{ guest.id }}</td>
                <td>{{ guest.name }}</td>
                <td>{{ guest.phoneNumber }}</td>
                <td>
                    {% if guest.author %}
                        {{ guest.author.username }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_guest_show', {'id': guest.id}) }}">Детали</a>
                    <a href="{{ path('app_guest_edit', {'id': guest.id}) }}">Редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Записей не найдено</td>
            </tr>
        {% endfor %}

        <tr><td><a href="{{ path('app_guest_new') }}">Добавить</a></td></tr>
        </tbody>
    </table>


{% endblock %}
